.competenceMenuList {
    font-size: 14px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

.competenceMenuList:hover {
    background-color: rgba(38, 195, 108, 0.4);
    color: black;
}

.aktiv {
    background-color: #26c36c;
    color: white;
}