.verticaltimeline{
font-size: 16px;
color: rgb(34, 33, 33);
background: rgba(38, 195, 108, 0.15);
border-radius: 10px;
margin-bottom: 50px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: rgb(34, 33, 33);
    text-align: center;
}

h3{
    padding-top: .25em;
}

.vertical-timeline-element-content{
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;

}

.vertical-timeline-element-title{
    margin: 1.5em 0 2em 0 !important;
}

#description{
    margin-top: 70px !important;
}

.vertical-timeline-element-date{
    margin: 20px !important;
    top: -10px !important;
}

.vertical-timeline-element-subtitle{
    margin-bottom: 10px !important;
}

.vertical-timeline-element-subtitle{
    margin: 10px !important;
}


