.regContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login, .registracion{
    display: flex;
    flex-direction: column;
    width: 500px;
  margin: 30px;
}

.btn{
    background: #26C36C;
    color: #000;
    margin: 10px;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}

.label{
    font-size: 40px;
}