.homeContainer {
    /*margin-top: 50px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    justify-content: center;
}


/*keresés*/
.search {
    padding: 10px;
    font-size: 20px;
    position: absolute;
    z-index: 2;
    margin: 10px;
}

.list {
    
    padding: 0;
    list-style: none;
    text-align: center;
}

.listItem {
    margin-bottom: 20px;
    font-size: 25px;
    color: #444;
    font-weight: 300;
}

.th {
    padding: 50px;
}

/*keresés vége*/
.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.homeTitle {
    width: 1024px;
    font-size: 20px;
}

.backImg {

    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
}