.homeContainer {
    /*margin-top: 50px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}


/*keresés*/
.search{
    padding: 10px;
    font-size: 20px;
}

.list{
    padding: 0;
    list-style: none;
    text-align: center;
}

.listItem{
    margin-bottom: 20px;
    font-size: 25px;
    color: #444;
    font-weight: 300;
}


/*keresés vége*/
.background {
    width: 100%;

}

.homeTitle {
    width: 1024px;
    font-size: 20px;
}

.backImg {
    display: flex;
    width: 100%;
    position: relative;
}

.myMap {

    display: flex;
    font-size: 200px;
    color: #26c36c;
    position: absolute;
    z-index: 1;
    padding-left: 50%;
    text-shadow: 10px 5px 5px black;

}