.modalContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
    border-radius: 10px;
    width:70%;
   
   
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.btns{
    display: flex;
}

.submitBtn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #26c36c;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 10px;
}

.closeBtn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: gray;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin: 0px 10px;
}